.heading-primary {
    text-transform: uppercase;
    font-size: 4rem;

    backface-visibility: hidden;
    margin-bottom: .5rem;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 3rem;
        }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 2rem;
    }

    @include respond(phone) {
        font-size: 2rem;
    }

}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    margin-top: 1rem;
    font-size: $default-font-size;
}